@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom, rgb(0, 0, 57, 0.5) 10%, rgb(63, 135, 166, 0.6) 100%), url('https://picsum.photos/id/0/5616/3744') center center no-repeat;
	background-size: cover;
	color: white;
}

h1#title{
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 1px 1px 4px #000039;
	text-transform: uppercase;
	font-family:'Poppins',sans-serif;
}
form{
	padding: 50px;
	display: flex;
	flex-direction: column;
	background: transparent;
	border-radius: 5px;
	max-width: 50%;
    box-shadow: 1px 1px 4px rgb(0, 0, 57, 0.8);
}

div{
	color: white;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-content: space-between;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
div > label{
	text-transform: uppercase;
	font-size: 12px;
}
input{
	border-bottom: solid 1px;
	border-image: linear-gradient(to right, rgba(0, 0, 57), rgb(63, 135, 166)) 1 20%;
    border-top: none;
    border-left: none;
    border-right: none;
	outline: none;
	padding: 4px;
	font-family: 'FontAwesome', sans-serif;
	background: transparent;
	color: white;
	margin-top: 5px;
	font-size: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding-top: 5px;
	max-width: 500px;
	display: inline-block;
    caret-color: #000039;
}
.email, .name{
	min-width: 150px;
}
input::placeholder{
	font-family: 'Poppins', 'Font Awesome 5 Free', sans-serif;
	font-size: 14px;
	font-weight: lighter;
}
.email::placeholder{
	font-family: 'Poppins', 'Font Awesome 5 Free', sans-serif;
}
#description{
	text-align: center;
}

label#name-label, label#email-label, label#number-label{
	text-transform: uppercase;
	font-size: 12px;
}
input[type=number]{
	border: solid 1px;
	border-image: linear-gradient(to right, rgba(0, 0, 57), rgb(63, 135, 166)) 1 20%;
	box-shadow: 1px 1px 4px #000039;
	background: transparent;
	color: white;
	font-size: 12px;
	font-weight: bold;
    text-transform: uppercase;
	font-family: 'Poppins', FontAwesome, sans-serif;
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 200px;
	min-width: 150px;
}
input[type=number]::placeholder{
	padding: 4px;
}
select, .option{
	max-width: 210px;
	min-width: 150px;
	border: solid 1px;
	border-image: linear-gradient(to right, rgba(0, 0, 57), rgb(63, 135, 166)) 1 20%;
	box-shadow: 1px 1px 4px #000039;
	padding: 4px;
	font-size: 12px;
	background: transparent;
	color: white;
	display: inline-block;
    text-transform: uppercase;
	font-family: 'Poppins',sans-serif;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	appearance: none;
	margin-bottom: 10px;
}

input[type='radio']{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	border: solid 1px;
	box-shadow: 1px 1px 4px rgb(0, 0, 57, 0.8);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	padding-right: 4px;
    margin-right: 5px;
}
input[type='radio']:checked{
	box-shadow: 1px 1px 4px rgb(0, 0, 57, 0.8);
	background: #fff;
	padding: 2px;
	border: solid 1px;
}
input[type='checkbox']{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background: transparent;
	box-shadow: 1px 1px 4px rgb(0, 0, 57, 0.8);
	border: solid 1px;
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

input[type='checkbox']:checked {
	background: #fff;
	border: solid 1px;
	border-image: linear-gradient(to right, rgba(0, 0, 57), rgb(63, 135, 166)) 1 20%;
	content: '';
	box-shadow: 1px 1px 4px rgb(0, 0, 57, 0.8);
}

.comments{
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 12px;
}
textarea{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	background-color: rgba(0, 0, 0, 0);
	border: solid 1px;
	border-image: linear-gradient(to right, rgba(0, 0, 57), rgb(63, 135, 166)) 1 20%;
	color: #fff;
	padding: 2px;
	font-size: 14px;
	box-shadow: 1px 1px 4px #000039;
	font-family: 'Poppins', 'Font Awesome 5 Free', sans-serif;
	display: block;
	padding: 10px;
	min-width: 150px;
	max-width: 320px;
}


#submit{
	background-color: #fff;
	box-shadow: 1px 1px 4px #000039;
	width: 340px;
	min-width: 180px;
	color: #000039;
	border: none;
	font-family: 'Poppins', sans-serif;
	padding: 10px;
    font-size: 20px;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	letter-spacing: 4px;
}

.divs{
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.label{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	font-size: 12px;
	text-transform: uppercase;
}
.gender-custom{
	font-size: 12px;
	text-transform: uppercase;
	align-items: center;
}